// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
//@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/toastr/toastr";
@import "resources/assets/css/mdb";
@import "node_modules/ion-rangeslider/css/ion.rangeSlider";
@import "node_modules/ion-rangeslider/css/ion.rangeSlider.skinFlat";
@import "~multiselect/css/multi-select";

$primary: #20BF55;
$secondary: #01BAEF;
$navbar: #2196F3;

#Login_Body {
  background: url(/img/login_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.text-area-label {
  color: #757575 !important;
}

body {
  background-color: #eee !important;
  position: relative;
  min-height: 100vh;
  margin: 0 !important;
}

#app {
  padding: 0 !important;
}

footer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.home-block {
  //height: 80vh !important;
  background-color: #eee !important;
}

.home-block-image {
  height: 50vh !important;
  img {
  }
}

.navbar {
  border-radius: 0 !important;
}

.fa-fix {
  margin-top: 3px !important;
}

.breadcrumb-white {
  background-color: #fff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.text-grey {
  color: gray;
}

.hover-red:hover, .hover-red:focus {
  color: #d9534f;
}

.loading {
  filter: grayscale(100%);
  > .list-group > .list-group-item {
    background-color: lightgrey;
  }
}

.filtered-products, .loading-cow {
  position: absolute;
  top: 30vh;
  img {
    width: 5rem;
    height: 5rem;
  }
}

.loading-cow {
  z-index: 10;
  img {
    margin-top: -2.5rem;
    height: 5rem;
    width: auto;
  }
}

.products-card {
  height: 6rem;
}

.short-description {
  height: 3rem;
  p {
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(to right, black, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

  }
}

.page-grey {
  background-color: #dddddd !important;
}

.page-grey:hover {
  background-color: #cccccc !important;
}

.thumbimg {
  background: url(/img/noimage.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
  height: 30vh;
  a {
    display: block;
  }
  a:hover {

  }
}

.corner-ribbon{
  width: 150px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding-top: 25px;
}

.home-product{
  overflow: hidden;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-right{
  top: -8px;
  right: -52px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

//slider override
.irs-from, .irs-to, .irs-single {
  background-color: #24617B;
}

.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color: #24617B;
}

//toaster override
.toast {
  opacity: 100 !important;
}

// bootstrap colors override
.primary-color, .bg-primary, .btn-primary {
  background-color: $primary !important;
}

.primary-color-darken, .bg-primary-darken, .btn-primary-darken {
  background-color: darken($primary, 10) !important;
}

.secondary-color, .btn-secondary {
  background-color: $secondary !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: lighten($primary, 10%) !important;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: lighten($secondary, 10%) !important;
}

.bg-navbar {
  background-color: darken($navbar,10) !important;
}

.modal-dialog.modal-notify.modal-success .badge, .modal-dialog.modal-notify.modal-success .modal-header {
  background-color: $primary !important;
}

.btn-outline-secondary {
  border-color: $primary !important;
  color: $primary !important;
}

.btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}