
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

#Login_Body{
  background: url(img/login_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

body{
  position: relative;
  min-height: 100vh;
  margin: 0 !important;
}

#app{
  padding: 0 !important;
}

footer{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.home-block{
  height: 100vh !important;
  padding-top: 4rem;
  background-color: #eee !important;
}

.home-block-image{
  height: 50vh !important;
  img{
  }
}

.navbar {
  border-radius: 0 !important;
}

.fa-fix{
  margin-top: 3px !important;
}