
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/toastr/toastr";
@import "resources/assets/css/mdb";
@import "node_modules/ion-rangeslider/css/ion.rangeSlider";
@import "node_modules/ion-rangeslider/css/ion.rangeSlider.skinFlat";

$primary: #20BF55;
$secondary: #01BAEF ;
$navbar: #0B4F6C;

#Login_Body{
  background: url(/img/login_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}


.text-area-label{
  color: #757575 !important;
}

body{
  background-color: #eee !important;
  position: relative;
  min-height: 100vh;
  margin: 0 !important;
}

#app{
  padding: 0 !important;
}

footer{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.home-block{
  height: 100vh !important;
  padding-top: 4rem;
  background-color: #eee !important;
}

.home-block-image{
  height: 50vh !important;
  img{
  }
}

.navbar {
  border-radius: 0 !important;
}

.fa-fix{
  margin-top: 3px !important;
}

.breadcrumb-white{
  background-color: #fff !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.text-grey{
  color: gray;
}

.hover-red:hover, .hover-red:focus{
  color: #d9534f;
}

//toaster override
.toast{
  opacity: 100 !important;
}

// bootstrap colors override
.primary-color, .bg-primary, .btn-primary{
  background-color: $primary !important;
}

.primary-color-darken, .bg-primary-darken, .btn-primary-darken{
  background-color: darken($primary,10) !important;
}

.secondary-color, .btn-secondary{
  background-color: $secondary !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover{
  background-color: lighten($primary, 10%) !important;
}

.bg-navbar{
  background-color: $navbar !important;
}

.loading {
  filter: grayscale(100%);
}


.modal-dialog.modal-notify.modal-success .badge, .modal-dialog.modal-notify.modal-success .modal-header{
  background-color: $primary !important;
}

.btn-outline-secondary{
  border-color: $primary !important;
  color: $primary !important;
}